body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 19, 19);
    align-items: center;
    min-height: 100vh;
    position: relative;
}
html, body {
    overflow-x: hidden;
}

.title {
    position: relative;
    display: flex;
    margin-top: 0px;
    left: 25px;
    color: rgb(255, 203, 31);
    font-size: 3em;
    font-weight: 800;
    letter-spacing: -2px;
    align-items: center;
}

.date {
    position: relative;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    margin-left: 60px;
    margin-top: -30px;
    margin-bottom: 0;
}


.logobrassi {
    position: relative;
    width: 60px;
    height: auto;
    vertical-align: middle;
    margin-top: -5px;
    margin-left : 130px;
}


.gradient-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgba(255, 203, 31, 0.2), rgba(255, 87, 51, 0));
    z-index: 0;
}

.subtitle{
    position: relative;
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    top: -40px;
    font-weight: 800;
    letter-spacing: -5px;
    
}

.first-color {
    color: rgb(255, 255, 255);
}

.second-color {
    color: rgb(255, 203, 31);
}

.beer-container {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin: 20px;
    
    margin-top:-30px;
    border-radius: 10px;
    z-index: 1;
}


.caract {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    color: rgb(255, 203, 31);
}


.beer {
    display: flex;
    flex-direction: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 15%;
}
.sepDiv {
    color: white;
    width: 90%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    letter-spacing: -2px;

    display: inline-block; /* Nécessaire pour border-bottom */
    border-bottom: 2px solid rgb(255, 203, 31); /* Soulignement */
    padding-bottom: 6px; /* Décale le trait vers le bas */
    padding-left: 0px;
}
.sepBar{
    position: relative;
    background-color: black;
    width: 90%;
    height: 3px;
    top: 10px;
    left: 5%;
    text-align: center; 
    margin-bottom: 20px;
}
.beer-image {
    width: 50%;
    height: 500px;
    margin-bottom: 5px;
    padding: 0;
    transform-origin: center;
    margin-left: -13%;
}

.beer-img {
    width: 100%;
    height: 175px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.beer-name {
    width: 80%;
}

.beer-name h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    display: flex;
    margin: 3px;
    letter-spacing: -1px;
    font-style: italic;
}

.beer-name p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    text-align: left;
    color: white;
}

@media (max-width: 1920px) {
    .title {
        font-size: 2.8em;
        top: 2px;
    }
    .beer-image{
        height: 175px;
        margin-top: 20%;
    }
    .sepDiv{
        
        font-size: 2em;
       
    }
    .date {
        font-size: 1.3em;
    }

    .logobrassi {
        margin-top: 35px;
    }

    .subtitle {
        font-size: 4em;
    }

    .beer-name {
        font-size: 2.3em;
        margin-left: -20%;
    }

    .beer-container {
        flex-wrap: wrap;
        
    }
   
    .beer {
        width: 20%;
    }
    
    .beer-name > p {
        font-size: 0.4em;
    }
}

@media (max-width: 1200px) {
    .title {
        font-size: 1.7em;
        top: 0px;
        left: 5px;
    }

    .logobrassi {
        margin-left: 60px;
        margin-top: 10px;
        width: 40px;
    }
    .date {
        font-size: 0.8em;
        margin-top: -20px;
        margin-left: 15px;
    }
    .beer-image{
        height: 150px;
        margin-top: 20%;
    }
    .sepDiv{
        
        font-size: 1.8em;
       
    }
    
    .subtitle {
        font-size: 4em;
        top: -30px;
        color: red;
    }
    .beer-name{
        font-size: 3em;
        margin-left: -20%;
    }
    .beer {
        width: 100%;
    }
    .beer-name p {
        font-size: 3vw;
    }
}

@media (max-width: 800px) {
    .title {
        font-size: 1.7em;
        top: 0px;
        left: 5px;
    }

    .logobrassi {
        margin-left: 60px;
        margin-top: 10px;
        width: 40px;
    }
    .date {
        font-size: 0.8em;
        margin-top: -20px;
        margin-left: 15px;
    }
    .beer-image{
        height: 100px;
        margin-top: 20%;
    }
    .sepDiv{
        
        font-size: 1.5em;
       
    }
    
    .subtitle {
        font-size: 2.8em;
        top: -20px;
    }

    .gradient-bottom {
        height: 300px;
    }
    .beer-name{
        font-size: 3em;
        margin-left: -20%;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 1.7em;
        top: 0px;
        left: 5px;
    }

    .logobrassi {
        margin-left: 60px;
        margin-top: 10px;
        width: 40px;
    }
    .date {
        font-size: 0.8em;
        margin-top: -20px;
        margin-left: 15px;
    }


    .beer-image{
        height: 40px;
        margin-top: 5%;
    }
    .sepDiv{
        
        font-size: 1.5em;
       
    }
    

    .subtitle {
        font-size: 2.5em;
        top: -20px;
    }

    .gradient-bottom {
        height: 200px;
    }
    .beer-name{
        font-size: 2em;
        margin-left: -19%;
    }
}
