body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 19, 19);
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.title {
    position: absolute;
    display: flex;
    top: 35px;
    left: 70px;
    color: rgb(255, 203, 31);
    font-size: 3em;
    font-weight: 800;
    letter-spacing: -2px;
    align-items: center;
}

.date {
    position: relative;
    font-size: 1.9em;
    font-weight: 800;
    letter-spacing: -2px;
    color: white;
    margin-left: 71px;
    margin-top: 2px;
    margin-bottom: 0;
}

.logobrassi {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-top: 10px;
    margin-left : 10px;
}

.gradient-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgba(255, 203, 31, 0.2), rgba(255, 87, 51, 0));
    z-index: 0;
}

.subtitle{
    position: relative;
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    top: -40px;
    font-weight: 800;
    letter-spacing: -5px;
}

.first-color {
    color: rgb(255, 255, 255);
}

.second-color {
    color: rgb(255, 203, 31);
}

.beer-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2px;
    margin: 20px;
    margin-top:-50px;
    border-radius: 10px;
    z-index: 1;
}

.caract {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    color: rgb(255, 203, 31);
}

.beer {
    display: flex;
    flex-direction: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    gap: 15%;
}

.beer-image {
    width: 50%;
    height: 500px;
    margin-bottom: 5px;
    padding: 0;
    transform-origin: center;
    margin-left: -13%;
}

.beer-img {
    width: 100%;
    height: 175px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.beer-name {
    width: 80%;
}

.beer-name h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    display: flex;
    margin: 3px;
    letter-spacing: -1px;
    font-style: italic;
}

.beer-name p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    text-align: left;
    color: white;
}

@media (max-width: 1920px) {
    .title {
        font-size: 2.8em;
        top: 2px;
    }
    .beer-image{
        height: 175px;
        margin-top: 20%;
    }
    .date {
        font-size: 1.7em;
    }

    .logobrassi {
        margin-top: 35px;
    }

    .subtitle {
        font-size: 4em;
    }

    .beer-name {
        font-size: 2.3em;
        margin-left: -20%;
    }

    .beer-container {
        flex-wrap: wrap;
        margin-left: 3%;
    }

    .beer {
        width: 20%;
    }
    .beer-name > p {
        font-size: 0.4em;
    }
}

@media (max-width: 1200px) {
    .title {
        font-size: 2.5em;
        top: -10px;
    }
    .beer-image{
        height: 150px;
        margin-top: 20%;
    }
    .date {
        font-size: 2em;
    }
    .logobrassi {
        margin-top: 25px;
    }
    .subtitle {
        font-size: 4em;
        top: -30px;
        color: red;
    }
    .beer-name{
        font-size: 3em;
        margin-left: -20%;
    }
    .beer {
        width: 100%;
    }
    .beer-name p {
        font-size: 3vw;
    }
}

@media (max-width: 800px) {
    .title {
        font-size: 2em;
        top: -10px;
    }
    .beer-image{
        height: 100px;
        margin-top: 20%;
    }
    .date {
        font-size: 1.5em;
    }
    .logobrassi {
        margin-top: 15px;
    }
    .subtitle {
        font-size: 2.8em;
        top: -20px;
    }

    .gradient-bottom {
        height: 300px;
    }
    .beer-name{
        font-size: 3em;
        margin-left: -20%;
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 1.8em;
        top: -8px;
        left: 55px;
    }
    .beer-image{
        height: 40px;
        margin-top: 5%;
    }
    .logobrassi {
        margin-top: 10px;
        width: 40px;
    }
    .date {
        font-size: 1.5em;
        margin-top: -10px;
        margin-left: 55px;
    }

    .subtitle {
        font-size: 2.5em;
        top: -20px;
    }

    .gradient-bottom {
        height: 200px;
    }
    .beer-name{
        font-size: 2em;
        margin-left: -19%;
    }
}
